.white-bg {
    background: white;
    color: var(--primary-color);
}

.main-bg {
    color: white;
    background-image: url('..//img/bg1.svg');
    background-size: cover;
    background-position: center center;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 7rem var(--gap)
}

.section {
    min-height: 100vh;
}

.menu-spacing{
    height: 6.5rem;
}

div.full-width {
    width: 100%;
    flex: 1 1 100%;
}

